{% extends 'base.html' %}

{% block content %}
<h2>{{ info.title }}</h2>

<p>This we week we will look at making wordnets for low resource languages (<a href="{{ url_for('static', filename='pdf/lec-05-low-resource.pdf')}}">slides</a>)

<h3>Key Topics</h3>
<ul>
  <li><strong>FAIR principles</strong> — why each principle matters:
    <ul>
      <li><em>Findable</em>: so others (and your future self) can actually discover the work.</li>
      <li><em>Accessible</em>: so once found, the work can be retrieved safely and clearly.</li>
      <li><em>Interoperable</em>: so work can combine with other work across tools and languages.</li>
      <li><em>Reusable</em>: so the community can build on it—thanks to documentation and licensing.</li>
  </ul> </li>
  <li><strong>Open licences</strong> and the Open Definition; when and when not to use open licences.</li>   
  <li><strong>CARE principles</strong>
    <ul>
      <li><em>Collective Benefit</em>: Who gains from sharing this data?
      <li><em>Authority to Control</em>: Who decides how it can be used?
      <li><em>Responsibility</em>: Are researchers accountable to those represented?
      <li><em>Ethics</em>: How can openness coexist with respect and consent?
    </ul>
</ul>

<h3>References</h3>


<ul>
  <li>
    Wilkinson, M. D., et al. (2016).
    <a href="https://www.nature.com/articles/sdata201618">The FAIR Guiding Principles for scientific data management and stewardship</a>.
    <em>Scientific Data</em>, 3, 160018.
    DOI: <a href="https://doi.org/10.1038/sdata.2016.18">10.1038/sdata.2016.18</a>
  </li>

  <li>
    Carroll, S. R., et al. (2020).
    <a href="https://datascience.codata.org/articles/dsj-2020-043/">The CARE Principles for Indigenous Data Governance</a>.
    <em>Data Science Journal</em>, 19, 43.
    DOI: <a href="https://doi.org/10.5334/dsj-2020-043">10.5334/dsj-2020-043</a>
  </li> 
 <li>
    Open Knowledge Foundation. (2015).
    <a href="https://opendefinition.org/">The Open Definition (Version 2.1)</a>.
  </li>
</ul>
</ul>

{% endblock %}
