{% extends 'base.html' %}

{% block content %}
<h2>{{ info.title }}</h2>
<p>In this lecture we will look at representing metaphor in wordnets  (<a href="{{ url_for('static', filename='pdf/lec-03-metaphor.pdf')}}">slides</a>).

<h3>Using wordnet with metaphors!</h3>
<ol>
  <li> There is an enhanced version of wordnet that includes the metaphors from chainnet in the surfdrive folder <code>omw-en:1.4.cn.xz</code>.  Note that it is newly made and I didn't transfer some information (such as counts and lexfiles, which you can get from <code>omw-en:1.4</code>)
    <br> Copy it to your machine and load it
<pre><code class="language-python">import wn
wn.add('omw-en:1.4.cn.xz')
ewncn=wn.Wordnet('omw-en:1.4.cn')
</code></pre>
<li> Look at the entries for <i>lamb</i>, what metaphors/metonymies do you see?
<pre><code class="language-python">
for s in ewncn.senses('lamb', pos='n'):
   print(s.id, s.synset().definition())
   print(s.relations()) 
</code></pre>
To make it a little easier to read:
<pre><code class="language-python">
for s in ewncn.senses('lamb', pos='n'):
    print(f"{s.id} «{s.synset().definition()}» {s.counts()}")
    for (rel, tgts)  in s.relations().items():
        for t in tgts:
            print(f"{rel} →  «{t.synset().definition()}»")
</code></pre>
<li> Lets look for all metaphors that have a translation in a language of your choice.  I chose Dutch, so I load  <code>omw-nl:1.4</code>.  There may be quite a few!
<pre><code class="language-python">
## All senses
for s in ewncn.senses(pos='n'):
    ## senses related by metaphor
    targets = s.get_related('metaphor')
    for t in targets:
    ## translations
        lg='nl'
        slems = [l.word().lemma() for l in s.translate(lang=lg)] 
        tlems = [l.word().lemma() for l in t.translate(lang=lg)]
        ## shared translations
        overlap = [l for l in slems if l in tlems]
        if slems and tlems:
            print(f"{s.id} ({slems}) «{s.synset().definition()}» {s.counts()}")
            print(f"    →  ({tlems}) «{t.synset().definition()}»")
            print(f"    OVERLAP {overlap}")
</code></pre>
Sample output
<pre>
...
omw-en-windmill-04587559-n (['windmolen']) «a mill that is powered by the wind» []
    →  (['winddynamo', 'windgenerator', 'windmolen', 'windturbine']) «generator that extracts usable energy from winds»
    OVERLAP ['windmolen']
...
omw-en-window-04587648-n (['glasraam', 'licht', 'raam', 'raampje', 'venster', 'vensterraam']) «a framework of wood or metal that contains a glass windowpane and is built into a wall or roof to admit light or air» []
    →  (['venster']) «a transparent panel (as of an envelope) inserted in an otherwise opaque material»
    OVERLAP ['venster']
...
</pre>
Take a look at the output, does it seem reasonable to you?

<h3>Readings</h3>

<ul>
  <li>George Lakoff and Mark Johnson (1980) <i>Metaphors we live by</i> Chicago University Press
  <li>Rowan Hall Maudslay, Simone Teufel, Francis Bond, and James Pustejovsky. 2024. <a href='https://aclanthology.org/2024.lrec-main.266/'>ChainNet: Structured Metaphor and Metonymy in WordNet</a>. In Proceedings of the 2024 Joint International Conference on Computational Linguistics, Language Resources and Evaluation (LREC-COLING 2024), pages 2984–2996, Torino, Italia. ELRA and ICCL.
  
</ul>


{% endblock %}
