{% extends 'base.html' %}

{% block content %}
<h2>Multilingual Modelling with Wordnets: Metonymy Travels, Metaphor Wanders</h2>
<h3>2025 Schultink Lecture</h3>


<p>How do we trace the paths of meaning as it travels across languages? While a <i>storm of protest</i> is clear in English, does the same metaphorical force of a storm apply in Japanese or Zulu? These patterns of metaphor and metonymy are universal, yet their specific mappings reveal the unique cognitive and cultural fingerprints of each language. To study these paths, we need more than isolated examples; we need multilingual maps. Wordnets, with their networks of synsets and semantic links, provide a semantic cartography that lets us explore how meanings shift, radiate, and connect.

<p>In this talk, I introduce recent work on modelling metaphorical and metonymic extensions in lexical networks (ChainNet), and illustrate how these patterns can be examined both within individual languages and across languages. This multilingual perspective is enabled by the Open Multilingual Wordnet, which brings together lexical data from many languages within a shared semantic framework and allows us to compare meaning structures at a larger scale. I will discuss both its strengths, such as the ability to pinpoint fine-grained meaning distinctions,  and its weaknesses, including inconsistent coverage and lexicon structure across languages.

<p>Beyond analysing sense relations, wordnets  offer a practical framework for organising and linking lexical information. Resources like the Open Multilingual Wordnet can support tasks ranging from cross-linguistic comparison to the development of digital dictionaries and learning materials. While they are only part of the broader landscape, such networks can contribute to language documentation, education, and efforts to make lexical resources more accessible for both researchers and learners.
By modelling how metonymy travels and metaphor wanders, we build not just maps of words but a new topography of the connections between language, culture, and how we make sense of the world.

<hr>
<p>Keynote talk, the <a href='https://nl.wikipedia.org/wiki/Henk_Schultink'>Schultink lecture</a>, LOT Winter School, January 15, 2026 from 16:30-17:30 (room HG-0A200 and online). 
{% endblock %}
